<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="'Reset Password instructions  - ' + ${to}"></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="min-h-screen bg-slate-200 flex items-center justify-center py-10 flex-col">
    <div class="bg-white w-full max-w-xl">
        <div class="bg-orange-500 text-white flex items-center justify-center py-4 flex-col">
            <div class="text-2xl font-black">IUT NOTIFY</div>
            <h1 class="text-black text-4xl font-bold">Reset Password</h1>
        </div>
        <div class="p-10">
            <div class="mb-2">Hello <span th:text="${to}" class="text-orange-500"></span></div>
            <p>
                Someone has requested a link to change your password at Net Ninja. You can do this through the link
                below.
            </p>
            <a th:href="${url} + 'token=' + ${code} + '&email=' +${to}"
               class="px-4 py-2 my-3 rounded-md inline-flex bg-orange-500 text-white hover:bg-orange-600">
                Reset Password
            </a>
            <p>
                If you didn't request this, please ignore this email.
                Your password won't change until you access the link above and create a new one.
            </p>
        </div>
        <div class="border-t border-slate-200/80 py-6 text-center">
            <p class="mb-1">You can also enter this verification code :</p>
            <div class="inline-flex font-medium text-2xl" th:text="${code}"></div>
        </div>
    </div>
    <p class="text-center">@IutNotify</p>
</div>
</body>
</html>